body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper{
  min-width: 200px;
}

.news-feed{
  background-color: rgb(204, 204, 231);
  padding: 1em;
}

.currency-converter{
  background-color: rgb(230, 223, 211);
  padding: 1em;
  text-align: center;
  align-self: center;
}

.exchange-rate{
  background-color: rgb(221, 230, 221);
  padding: 1.5em;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 0 3px 1 0px rgb(0 0 0 / 0.3);
}

.input-box{
  background-color: rgb(218, 227, 238);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

td{
  display: block;
  width: 100%;
}

table, button{
  max-width: 100%;
  margin: 0 auto;
}

input, select{
  text-align: center;
  border: rgb(74, 164, 219) solid 1px;
  background-color: rgb(236, 230, 223);
  padding: .8em;
  margin-top: .5em;
  border-radius: 10px;
}

input{
  max-width: 55px;
}

button{
  border: none;
  border-radius: 10px;
  margin-top: 2em;
  padding: 1em 4.5em;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: bolder;
  font-size: .7rem;
  background-color:rgb(116, 116, 145);
  color: whitesmoke;
}

button:hover{
  background-color: coral;
}

/*  ~~~~~~~~~~~~~~~~~~ for desktop ~~~~~~~~~~~~~~~~~~~~~~~*/


@media (min-width: 450px){
  
  .app{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app-wrapper{
    display: flex;
  }
  
  .news-feed{
    margin: .5em;
    max-width: 300px;
    flex-shrink: 2;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }
  
  .currency-converter{
    margin: .5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }
  
  .exchange-rate{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }
  
  .input-box{
    text-align: right;
  }
  
  button{
    float: right;
    border: none;
    margin: .2em;
    padding: .3em .5em;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-weight: bolder;
    font-size: .7rem;
    background-color:rgb(116, 116, 145);
    color: whitesmoke;
    border-radius: 0px;
  }
  
  td{
    display: inline;
  }
  
  table, button{
    width: auto;
  }
  
  input, select{
    border: none;
    text-align: left;
    background-color: whitesmoke;
    padding: 0;
    margin-top: none;
    border-radius: 0px;
  }
  
  input{
    max-width: 100px;
  }
  
  .form-input {
    display: block;
    margin: 1em 0;
  }
  
  .submit-button{
    display: block;
    padding: .5rem;
    margin: 1em 0;
    float: none;
  }
  
  .login-page{
    margin: 0;
  }
  
  .container{
    max-width: 400px;
    margin: 0 auto;
  }
  
  .container-form{
    border: 1px #000 solid;
    max-width: 400px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

}